dlib==19.16.0
Flask==2.0.2
Flask-Cors==3.0.10
h5py==2.8.0
importlib-metadata==2.0.0
imutils==0.5.1
itsdangerous==2.0.1
Jinja2==3.0.3
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.3
MarkupSafe==2.0.1
matplotlib==3.0.0
numpy==1.16.0
opencv-python==3.4.3.18
opt-einsum==3.3.0
protobuf==3.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
scipy==1.1.0
six==1.15.0
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
Werkzeug==2.0.2
wincertstore==0.2
wrapt==1.12.1
